{% extends 'base.html' %}
{% load static %}

{% block titulo%}Noticia{%endblock titulo%}

{% block contenido%}

<h1>{{noticia}}</h1>
<img src="{{noticia.imagen.url}}" alt="" width="500" height="500">
<p>{{noticia.cuerpo}}</p>
<p>{{noticia.fecha}}</p>
<p>{{noticia.categoria_noticia}}</p>

<form action=" {% url 'noticias:comentar' %} " method="POST"> {% csrf_token %}

<textarea name="comentario" id="" cols="30" rows="3"></textarea>
<input type="text" name="id_noticia" value="{{ noticia.pk}}" hidden="">
<input type="submit" value="comentar">

</form>
<h3>comentarios</h3>
{% for comentario in comentario %}

<p><strong>{{ comentario.usuario}}</strong> {{ comentario.fecha}} </p>
<p>Comentario: {{comentario.text}} </p>


{% endfor %}


{% endblock contenido%}